@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300;400;500;600;700&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');



.MainBackground {
    height: 100%;
    background-image: url("./assets/pubg-background-main.jpg");
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
    
}

.gradient {
    opacity: 0.89;
    height: 100%;
    width: 100%;
    
    background: black;
}

.logo a {
    color: #ff8a01;
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
}

nav {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.searchInput {
    background: transparent;
    color: #ff8a01;
    border: none;
    width: 90%;
    padding-left: 10px;
}

.searchInput:focus,
input:focus {
    outline: none;
}

.searchInput::placeholder {
    color: #ff8a01;
    padding-left: 2px;
}

.LoginButton {
    color: #ff8a01;
    border: 1px solid #ff8a01;
    width: 90px;
    height: 30px;
    background: rgb(80, 78, 78);
    font-weight: 400;
}

.LoginButton:hover {
    cursor: pointer;
    border: 2px solid #ff8a01;
}

.searchicon {
    color: #ff8a01;
    padding-top: 7px;
    font-size: 20px;
    
}

.searchbarDiv {
    border: 1px solid #ff8a01;
    width: 330px;
    height: 30px;
    position: relative;
    border-radius: 5px;
    display: flex;
}

.animationHeader {
    color: rgb(198, 189, 189);
   font-family: 'Bebas Neue';
   font-size: 64px;
   font-weight: 400;
   margin: 0px;
  
}
.headingAnimationDiv{
    margin-top: 120px;
  text-align: center;
}
.animationSpan{
    color: #ff8a01;
    padding-left: 3px;
}
.MainList{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.MainOrgList{
    width: 75%;
    margin-left: 7%;
    margin-right: auto;
}
.TournamentHeading{
    color: white;
    font-family: 'Bebas Neue';
    font-size: 24px;
    margin: 0px;
    margin-top: 150px;
    word-spacing: 2px;
    font-weight: 200;
}
.TournamentOrgHeading{
    color: #c56b0a;
    font-family: 'Bebas Neue';
    font-size: 37px;
    padding-top: 65px;
    word-spacing: 2px;
    font-weight: 500;
}
.matchdiv{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.matchheading{
    color: var(--primary-colur, #FF8A01);
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.createheading{
    color: var(--secondary-colur, #f5f0f0);
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
